{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "REST APIS for automation",
    "description": "REST APIS for automation K2-compatible format."
  },
  "host": "x6pr-kqwm-lfqn.n7d.xano.io",
  "basePath": "/api:ekyZ8a89",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/GetPOIData": {
      "get": {
        "summary": "Get POI Data",
        "description": "Returns POI verification types and their statuses.",
        "operationId": "getPOIData",
        "parameters": [
          {
            "name": "platform_code",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "login_id",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "created_by",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of POI verification results",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/POIResult"
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/AddRemarks": {
      "post": {
        "summary": "Add Remarks",
        "description": "Adds remarks to a workflow.",
        "operationId": "addRemarks",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Remarks input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddRemarksInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful addition of remarks",
            "schema": {
              "$ref": "#/definitions/AddRemarksResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "POIResult": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "example": "onfido"
        },
        "status": {
          "type": "string",
          "example": "verified"
        }
      }
    },
    "AddRemarksInput": {
      "type": "object",
      "properties": {
        "platform_code": {
          "type": "string"
        },
        "workflow_id": {
          "type": "string"
        },
        "login_id": {
          "type": "string"
        },
        "remarks_text": {
          "type": "string"
        },
        "created_by": {
          "type": "string"
        }
      }
    },
    "AddRemarksResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "example": 0
        }
      }
    }
  }
}
